.nav-head{
  background-color: rgb(110, 170, 172);
}

html {
  position: relative;
  min-height: 100%;
}


#body {
  width: auto;
  padding: 5px 14px 5px 14px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#footer {
  background-color: rgb(148, 144, 144);
  position: absolute;
  left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
  margin: 0 auto;
  clear:both;
}
