.nav-head{
  background-color: #0A3642;
  padding-left: 0.5%;
  position:relative;
  }
   
  html{
    background-color: white;
  }

.Body{
  min-height: calc(100vh - 70px);
}
 
.footer{
   margin:0px auto;
  padding: 20px 0px 20px 0px;
  background-color:#B2B9BC ; 
  height: 50px;
  border: none;
  outline: none;  
  border-radius: 5px 5px 5px 5px;   
}    

.card{
  outline: none; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgb(146, 146, 146);
  border-style: solid;
  border-width: 1px;
  border-color:#0A3642 ;
  margin-top: 20px;
}

 .cardhead{
    background-color: #6EAAAC;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color:#0A3642 ;
  }

  .cardbody{
    background-color:white ;
  }

  .searchbar{
    border-style: solid;
    border-width: 1px;
    border-color:#0A3642 ;
    outline: none; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(146, 146, 146);
  }
 
  .carouselslide{
    background-color:#B2B9BC;
  }

  .critere{     
    font-weight: bold;    
  }
 
 
.flex-column{      
  background-color:rgb(110, 170, 172);
  height: 100vh;
  margin: 0;
}      

table, th, td {   
  border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}

 