.nav-head{
  background-color: rgb(110, 170, 172);
}
.footer{
  background-color: rgb(148, 144, 144);
    position:absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;}

    
     .flex-column{
      position: fixed ;
      width: 20%;
      background-color:rgb(110, 170, 172);
      height: 100vh;
    }  
    